{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col s12 l10 offset-l1">
        <!-- 본문 영역 -->
        <div style="padding: 80px 0 30px 0; margin-bottom: 50px;">
            <h2 style="text-align: center; color: #565656;">{{ article.title }}</h2>
            <div style="text-align: right;
                        margin-top: 30px;
                        margin-right: 10px;
                        font-size: 12px;">
                <span>{{ article.created_at|date:"Y.m.d h:i A" }}</span><br />
            </div>
        </div>
        <div style="font-size: 13px; line-height: 18px; color: #565656;">
            <p>{{ article.content }}</p>
        </div>
        <div id="tag_area" style="margin: 20px 0;">
            {% for tag in article.tag.all %}
            <div class="chip">{{ tag.name }}</div>
            {% endfor %}
        </div>
        <a href="{% url 'core:article_list' %}" class="waves-effect waves-light btn">목록으로</a>

        <div class="comment_area">
            <h4>댓글</h4>
                <div class="comment_form_area">
                    <form id="comment_form" method="POST">
                        {% csrf_token %}
                        <label for="author">글쓴이</label>
                        <input type="text" name="author" /><br />
                        {% if error.author %}
                          <p style="color: red;">글쓴이를 입력해주세요</p>
                        {% endif %}

                        <label for="content">내용</label>
                        <input type="text" name="content" /><br /><br />
                        {% if error.content %}
                          <p style="color: red;">내용을 입력해주세요</p>
                        {% endif %}
                        <button type="submit" class="waves-effect waves-light btn">작성</button>
                    </form>
                {% for comment in comments %}
                <li style="margin: 30px 0;">
                  <div style="font-size: 17px; font-weight: bold;">
                    <a href="#">{{ comment.author }}</a>
                  </div>
                  <div style="margin: 10px 0;">
                    <span>{{ comment.content }}</span>
                    <span>{{ comment.created_at|date:"Y.m.d h:i A"}}</span>
                  </div>
                </li>
                {% endfor %}
                </div>
        </div>
{% endblock %}